#root {
  max-width: 1280px;
  margin: 0 auto;
}

.App {
  align-content: center;
  display: grid;
  height: 100vh;
  justify-content: center;
}

.response {
  text-align: left;
  max-width: 600px;
}

.row {
  margin-bottom: 1rem;
}

.center {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 10px 10px 0;
  font-size: 15px;
  color: var(--blueA11);
  background-color: white;
  box-shadow: 0 0 0 1px var(--blackA9);
}

textarea:focus {
  box-shadow: 0 0 0 2px black;
}

textarea::selection {
  background-color: var(--blackA9);
  color: white;
}

.LabelRoot {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: 100%;
  max-width: 487px;

  background-color: var(--blueA11);
  color: white;
  box-shadow: 0 2px 10px var(--blackA7);
  margin-bottom: 1rem;
}

.Button:hover {
  background-color: var(--blueA9);
}

.Button:focus {
  box-shadow: 0 0 0 2px black;
}

.Button:disabled {
  background-color: var(--blueA5);
}

ul {
  padding-left: 0;
}
